@(repoNamesWithTheirIssues: Map[String, Seq[Issue]])

<h1>Issues for Selected Repos</h1>

<h3><a href="/github/repos">Change repo selection</a></h3>

<ul>
    <ul>
        @for((repoName, issues) <- repoNamesWithTheirIssues) {
        <li><a href="http://github.com/@repoName" target="_blank">@repoName</a>
            <ul>
                @for(issue <- issues) {
                <li><a href="@issue.html_url" target="_blank">@issue.number: @issue.title</a></li>
                }
            </ul>
        </li>
        }
    </ul>
</ul>