@(repoNamesWithTheirIssues: Map[String, Seq[Issue]])

@main("Issues") {
<h1>Issues</h1>

<a class="btn btn-primary" href="/github/repos" style="margin-top: 2ex; margin-bottom: 2ex">Choose Repositories</a>

<div>
    <ul>
        <ul>
            @for((repoName, issues) <- repoNamesWithTheirIssues) {
            <li><a href="http://github.com/@repoName" target="_blank">@repoName</a>
                <ul>
                    @for(issue <- issues) {
                    <li><a href="@issue.html_url" target="_blank">@issue.number: @issue.title</a></li>
                    }
                </ul>
            </li>
            }
        </ul>
    </ul>
</div>
}