@(repoNamesWithTheirIssues: Map[String, Seq[Issue]])(implicit flash:play.api.mvc.Flash)

@import helper._

@main("Issues") {
<h1>Issues</h1>

@flash.get("success")
@flash.get("error")

<form class="well form-inline" method="POST" action="/github/repos/select">
    <p><strong>Quick Add Repository</strong></p>
    <input name="repoName" class="input" placeholder="owner/project">
    <button type="submit" class="btn">Add</button>
</form>

<div>
    <ul>
        <ul>
            @for((repoName, issues) <- repoNamesWithTheirIssues) {
            <li><a href="http://github.com/@repoName" target="_blank">@repoName</a>&nbsp;<a href="/github/repos/unselect/@repoName"><i class="icon-remove"></i></a>
                <ul>
                    @for(issue <- issues) {
                    <li><a href="@issue.html_url" target="_blank">@issue.number: @issue.title</a></li>
                    }
                </ul>
            </li>
            }
        </ul>
    </ul>
</div>
}